.skillstore-container {
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(255, 239, 195);
    padding: 0vh 5vw;
}

.categories-main-container {
    border: 1px solid black;
    background-color: rgb(255, 227, 148);
    border-radius: 7px;
    padding: 2vh 1vw;
    animation:slide-right 0.6s;
}

.categories-heading {
    background-color: cornsilk;
    padding: 1vh 1vw;
    border-radius: 5px;
    font-size: 4rem;
}

.categories-sub-container {
    display: flex;
    flex-wrap: wrap;
}

.category {
    display: flex;
    background-color: cornsilk;
    margin-left: 2vw;
    padding: 1vw;
    border-radius: 7px;
    margin-top: 4vh;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}